.centro{
    padding: 10%;
    display: flex;
    justify-content: center;
}
#principal{
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    border: solid thin;
    justify-content: center;
    border-radius: 10px;
    background: rgb(18, 24, 22);

}
main p {
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: 'Palanquin Dark', sans-serif;

}
#visor{
    text-align: center;
    vertical-align: middle;
    border: solid thin;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 0px;
    align-items: center;
    margin: 5px;
    background: white;
    align-self: center;
    display: flex;
    flex-wrap: wrap;

}
.botaum{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 220px;
    height: 300px;
    align-self: center;
    margin-left: 28px;
    
}

button{
    margin-left: 5px;
    border: thin;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
}
